<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Details</title>
    <link rel="stylesheet" href="{% static 'css/style_details.css' %}">
</head>
<body>
<center>
    <div class="container">
        <div class="post">
            <div class="post-header">
                <h1>{{show_object.title}}</h1>
                <div class="post-meta">
                    <span class="author">{{show_object.author}}</span>
                    <span class="category">{{show_object.genre}}</span>
                </div>
            </div>
            <div class="post-image">
                <img src="{{show_object.image.url}}">
            </div>
            <div class="post-content">
                <p>{{show_object.description}}</p>
            </div>
            <div class="post-meta">
                <span class="author">{{show_object.created_date}}</span>
                <span class="category">{{show_object.updated_date}}</span>
            </div>
            <button><a href="/book_details_/{{show_object.id}}/update/">Update</a> </button>
            <button><a href="/book_details_/{{show_object.id}}/delete/">Delete</a> </button>
        </div>
    </div>
    <a href="/book/" class="arrow-btn">Back<span></span></a>
</center>
</body>
</html>


